02. CLICON/ClienteSOAPConsolaJava/src/META-INF/wsdl/192.168.100.94_8080/ConUni_Soa_Java_ServidorGR04/ServicioConversionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.monster.edu.ec/" name="ServicioConversionService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.monster.edu.ec/" schemaLocation="http://192.168.100.94:8080/ConUni_Soa_Java_ServidorGR04/ServicioConversionService?xsd=1"/>
</xsd:schema>
</types>
<message name="fahrenheitToCelsius">
<part name="parameters" element="tns:fahrenheitToCelsius"/>
</message>
<message name="fahrenheitToCelsiusResponse">
<part name="parameters" element="tns:fahrenheitToCelsiusResponse"/>
</message>
<message name="celsiusToFahrenheit">
<part name="parameters" element="tns:celsiusToFahrenheit"/>
</message>
<message name="celsiusToFahrenheitResponse">
<part name="parameters" element="tns:celsiusToFahrenheitResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="ServicioConversion">
<operation name="fahrenheitToCelsius">
<input wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/fahrenheitToCelsiusRequest" message="tns:fahrenheitToCelsius"/>
<output wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/fahrenheitToCelsiusResponse" message="tns:fahrenheitToCelsiusResponse"/>
</operation>
<operation name="celsiusToFahrenheit">
<input wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/celsiusToFahrenheitRequest" message="tns:celsiusToFahrenheit"/>
<output wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/celsiusToFahrenheitResponse" message="tns:celsiusToFahrenheitResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/loginRequest" message="tns:login"/>
<output wsam:Action="http://servicio.monster.edu.ec/ServicioConversion/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="ServicioConversionPortBinding" type="tns:ServicioConversion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fahrenheitToCelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusToFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioConversionService">
<port name="ServicioConversionPort" binding="tns:ServicioConversionPortBinding">
<soap:address location="http://192.168.100.94:8080/ConUni_Soa_Java_ServidorGR04/ServicioConversionService"/>
</port>
</service>
</definitions>